<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>

    <link rel="stylesheet" href="/assets/styles.css" type="text/css">

  </head>
  <body>
    <% include partial/nav.ejs %>
    <h1>Home</h1>
    <p>WHat's up!!</p>
  </body>
</html>
