<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profiles</title>

    <link rel="stylesheet" href="/assets/styles.css" type="text/css">

  </head>
  <body>
    <% include partial/nav.ejs %>
    <h1>Welcome Gerbillis</h1>
    <p>You have started the game...</p>
  </body>
</html>
